main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #products-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 35px;
}

.product-card {
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007192;
    border: 2px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.product-card img {
    height: 150px;
    object-fit: cover;
}

.product-card img {
    height: 100%;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-right: 2px solid black;
}

.priceProduct, .productName {
    margin: 0.5rem;
}

.lessProduct, .moreProduct {
    height: 30px;
    width: 30px;
    background-color: #20a7d8;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    margin: 1rem;
    padding: 0.1rem;
}

main #totals {
    width: 300px;
    background-color: #007192;
    text-align: center;
    color: black;
    border-radius: 25px;
    border: 2px solid black;
    margin-top: 3rem;
    padding: 1rem 0;
}

#btnBuyDiscount, #btnRst {
    background-color: #20a7d8;
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

#empty-cart {
    color: rgb(200, 200, 200);
    margin: 3rem;
}

#link-add-product {
    color: #20a7d8;
    border-radius: 25px;
    padding: 10px;
}

#link-add-product:hover {
    background-color: #20a7d8;
    color: #004155;
    animation: fadeIn 0.5s ease-out forwards;
}
@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}